body {
  font-family: 'Montserrat', sans-serif;
  background-color: #afaca7;
}
.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  left: 40px;
  top: 40px;
  background-color: rgb(247, 244, 240);
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(223, 12, 12, 0.1);
}
/* main content section */
.main-content-section {
  padding: 100px 90px;
}
/*  
  about-me-section
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px; */

/* padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 100px; */
.about-me-section {
  margin-bottom: 40px;
}
.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin: 0 0 10px 0;
}

.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 20px;
}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin: 0 0 20px 0;
}
.about-me-description {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
/* my project section */
.my-projects {
  margin: 0 0 50px 0;
}
.my-projects-list {
  padding: 0 0 0 17px;
  font-weight: bold;
}
.my-projects-item {
  color: #000;
}
.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}
.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}
/* my work experienc */
.my-work-experience {
  margin: 0 140px 50px 0;
}
.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}
.work-experience-company {
  color: #f56f02ea;
}
.my-work-experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}
.divider {
  color: #000;
}
.duties-list {
  width: 510px;
  padding: 0 0 0 18px;
}
.my-work-experience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.company {
  margin: 0 0 15px 0;
}
/* my educaton */
.my-educaton-period-divider {
  color: #000;
}
.my-university {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}
.my-my-educaton-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 30px 0;
}
.my-diplom {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}
/* sidebar section */

.sidebar {
  background-color: #f15c06;
  width: 370px;
}
.contacts-section {
  margin: 50px 0 0 40px;
}
.tech-skills-section {
  margin: 50px 0 0 40px;
}
.soft-skills-section {
  margin: 45px 0 0 40px;
}
.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}

/* Contacts section */
.contact-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 7px;
}
.contact-link {
  color: #565e6a;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

/* tech skills section */
.tech-skills-list {
  padding: 0 0 0 17px;
}
.tech-scills-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fb6d3a;
}
.tech-scills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

/* soft scills section */
.soft-skills-list {
  padding: 0 0 0 17px;
}
.soft-scills-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fb6d3a;
}
.soft-scills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
